<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="color-scheme" content="light dark">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="assets/style/common.css">
  <script src="assets/style/common.js"></script>
  {{if .Style}}
  <link rel="stylesheet" href="assets/style/{{.Style}}.css">
  {{end}}
  {{if .Script}}
  <script src="assets/style/{{.Script}}.js"></script>
  {{end}}


</head>

<body>

  <div class="navbar">
    {{block "navbar" . }}{{end}}
  </div>
  <div>
    {{block "sidebar" .}}{{end}}
  </div>

  <main class="content">
    {{block "content" . }}{{.Content}}{{end}}
  </main>

  <footer class="footer">
    {{block "footer" . }}{{end}}
  </footer>

</body>

</html>
