<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="color-scheme" content="light dark">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,400;0,7..72,600;0,7..72,700;1,7..72,400&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
  <title>{{.Title}}</title>
  {{if .FaviconPath}}
  <link rel="icon" type="image/x-icon" href={{.FaviconPath}}>
  {{end}}
  {{template "commonCSS" .}}
  {{template "commonJS" .}}
  {{if .Style}}
  <link rel="stylesheet" href="/assets/style/{{.Style}}.css">
  {{end}}
  {{if .Script}}
  <script src="/assets/style/{{.Script}}.js"></script>
  {{end}}


</head>

<body>

  <div class="navbar">
    {{block "navbar" . }}{{end}}
  </div>
  <div>
    {{block "sidebar" .}}{{end}}
  </div>

  <main class="content">
    {{block "content" . }}{{.Content}}{{end}}
  </main>

  <footer class="footer">
    {{block "footer" . }}{{end}}
  </footer>

</body>

</html>
