<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="color-scheme" content="light dark">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  {{if .FaviconPath}}
  <link rel="icon" type="image/x-icon" href={{.FaviconPath}}>
  {{end}}
  {{template "commonCSS" .}}
  {{template "commonJS" .}}
  {{if .Style}}
  <link rel="stylesheet" href="/assets/style/{{.Style}}.css">
  {{end}}
  {{if .Script}}
  <script src="/assets/style/{{.Script}}.js"></script>
  {{end}}


</head>

<body>
  <a href="#main-content" class="skip-link">Skip to main content</a>

  <div class="navbar">
    {{block "navbar" . }}{{end}}
  </div>
  <div>
    {{block "sidebar" .}}{{end}}
  </div>

  <main id="main-content" class="content">
    {{block "content" . }}{{.Content}}{{end}}
  </main>

  <footer class="footer">
    {{block "footer" . }}{{end}}
  </footer>

</body>

</html>
