{{define "navbar"}}
<div style="position: sticky; display: flex;justify-content: center;align-items: center;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Cool_S.svg" alt="logo" style="align-self:flex-start ;"
    width="128">
  <h1 style="font-weight: bold;font-style: italic;">The Navbar</h1>
</div>
{{end}}
